<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.gtfp.workingmemory">

    <!--  Google Drive access -->
<!--    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
<!--    <uses-permission android:name="android.permission.GET_TASKS" />
-->
    <!-- Start an Alarm When the Device Boots if past due -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- Needed to write the database to a CSV file -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- Set the wallpaper -->
    <!--    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    -->
    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="firebase_analytics_collection_deactivated" android:value="true" />
 <!--       <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
 -->       <meta-data android:name="com.google.android.apps.drive.APP_ID"
                   android:value="id=AIzaSyCsv3O_JTXnNTT6hF0x9--AJbQyl9hLFCU"/>
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyCsv3O_JTXnNTT6hF0x9--AJbQyl9hLFCU"/>
        <activity
            android:name=".app.appController"
            android:theme="@android:style/Theme.Holo"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".edit.editToDoItem"
                android:parentActivityName="app.appController"
                android:windowSoftInputMode="stateVisible"
                android:theme="@android:style/Theme.Holo.Dialog"
                android:configChanges="orientation|screenSize|keyboardHidden"
                >
        </activity>
        <receiver android:name=".todo.ToDoAlarm">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <activity
                android:name=".edit.AlarmActivity"
                android:theme="@android:style/Theme.Holo"
                android:noHistory="true"
                android:configChanges="orientation|screenSize|keyboardHidden"
                >
        </activity>
        <activity
                android:name=".settings.SettingsActivity"
                android:parentActivityName="app.appController"
                android:configChanges="orientation|screenSize|keyboardHidden"
                >
        </activity>
        <activity
                android:name=".google.googleActivity"
                 >
        </activity>
        <activity
                android:name=".google.SignInActivity"
        >
        </activity>
        <activity android:name="com.facebook.FacebookActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:label="@string/app_name"
                  tools:replace="android:theme"/>
        <service android:name=".google.googleService"/>

        <activity
                android:name=".google.LegalNoticesActivity"
                >
        </activity>
        <activity
                android:name=".colorPicker.colorPickerActivity"
                android:parentActivityName=".settings.SettingsActivity"
                android:theme="@android:style/Theme.Holo.Dialog"
                android:configChanges="orientation|screenSize|keyboardHidden"
                >
        </activity>
<!--        <activity
                android:name=".dialog"
                android:theme="@android:style/Theme.Holo.Dialog"
                >
        </activity>
-->
    </application>

</manifest>
